.card{
    border: 3px solid black;
    display: block;
    max-width: 500px;
    max-height: 600px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.category{
    border: 3px solid black;
    border-radius: 8px;
    background-color: #c9e4e7;
}